/CalculadoraIdadeSwing/nbproject/private/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/dist/
/SuperCalculadora/build/
/LeitorDePensamentoSwing/nbproject/private/
/LeitorDePensamentoSwing/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/ProgramaParImpar/dist/
