/CalculadoraIdadeSwing/nbproject/private/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/dist/
/SuperCalculadora/build/
/LeitorDePensamentoSwing/nbproject/private/
/LeitorDePensamentoSwing/build/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/ProgramaParImpar/dist/
/EstruturasCondicionais/JavaApplication8/nbproject/private/
/EstruturasCondicionais/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/Votsç~/nbproject/private/
/Vota/nbproject/private/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProjetoTriangulo/nbproject/private/
/TelaTrianguloProj/nbproject/private/
/ProjetoTriangulo/build/
/Contador/nbproject/private/
/Contador/build/
/Numeros/nbproject/private/
/Numeros/build/
