/CalculadoraIdadeSwing/nbproject/private/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/dist/
/SuperCalculadora/build/
/LeitorDePensamentoSwing/nbproject/private/
/LeitorDePensamentoSwing/build/
